.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    width: 100%;

    padding: 6px 10px;
    border-radius: 6px;
    border: 1px solid transparent;

    font-family: var(--font);
    font-size: var(--sm);

    cursor: pointer;
    transition: 0.2s;
}

.text {
    text-align: center;
    width: 100%;
    line-height: 16px;
}

.primary {
    background: var(--accent);
    color: var(--white);
    border-color: var(--accent);

    &:hover:not(.disabled) {
        background: var(--white);
        color: var(--accent);
    }
}

.secondary {
    background: transparent;
    border-color: var(--black);

    &:hover:not(.disabled) {
        border-color: var(--accent);
        color: var(--accent);
    }
}

.danger {
    background: transparent;
    border-color: var(--black);

    &:hover:not(.disabled) {
        border-color: var(--red);
        color: var(--red);
    }
}

.disabled {
    opacity: 0.4;
    cursor: not-allowed;
}